SPECTARR_PORT=3280
SPECTARR_MCP_PORT=8281
SPECTARR_BIND_ADDRESS=127.0.0.1
SPECTARR_UID=1000
SPECTARR_GID=1000

SPECTARR_AUTH_MODE=password
SPECTARR_LOCAL_USER=admin
SPECTARR_ALLOW_REMOTE_NO_AUTH=false
SPECTARR_SESSION_HOURS=24
SPECTARR_SECRET_KEY=replace-with-at-least-32-random-characters
SPECTARR_WORKER_TOKEN=replace-with-an-independent-random-value

SPECTARR_LIBRARY_LINK_MODE=auto
SPECTARR_LIBRARY_PROJECT_TEMPLATE={project_name}__{project_id:8}
SPECTARR_LIBRARY_FILENAME_TEMPLATE={run_name}__{sample_name}__{run_id:8}{extension}

SPECTARR_INSTALL_OPENMASSSPEC=true
SPECTARR_SPECTRUM_READER_TIMEOUT_SECONDS=30
SPECTARR_MSCONVERT_IMAGE=proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.26121-ed8dc8a

SPECTARR_MCP_ALLOW_WRITES=false
SPECTARR_API_KEY=
SPECTARR_WEBHOOK_ALLOW_HTTP=false
SPECTARR_WEBHOOK_ALLOW_PRIVATE_NETWORKS=false
